* {
    box-sizing: border-box;
}

body {
    background-image: url(../image/pngtree-website-technology-line-dark-background-image_2344719.jpg);
    background-position: center;
    background-size: cover;

}

.contianer  {
    width: 50%;
    margin: 2rem auto;
    background-color: rgba(193, 179, 205, 0.345);
    padding: 20px;
    text-align: center;
    box-shadow: -6px 10px 15px -5px rgba(132, 168, 210, 0.45);
    border: #004da413 1px solid;
}

.signupText a {
color: rgb(3, 26, 66);
cursor: pointer;
}

body nav {
    background-color: rgba(0, 0, 0, 0.5);
}

.welcome {
    background-color: rgba(52, 119, 211, 0.533);
    padding: 20px;
}

.welcome h2 {
    font-size: 45px;
    font-weight: bold;
}